.signup-form {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-input {
  width: 400px;
}
@media (max-width: 500px) {
  .signup-form {
    width: 300px;
    margin: 0 auto;
  }
  .signup-input {
    width: 300px;
  }
}
.signup-form h5 {
  padding-top: 10px;
}
.signup-form h5 {
  padding-top: 10px;
}

.signup-buttons-wrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  flex-wrap: nowrap;
}
.signup-button {
  border: 2px solid rgb(0, 191, 134);
  background: rgb(0, 191, 134);
  color: white;
  width: 45%;
  padding: 10px;
}

.signup-button:hover {
  color: white;
  background: rgb(51, 196, 152);
}
.signup-button:focus {
  outline: none;
  color: white;
  background: rgb(51, 196, 152);
}
