.home-hero-image {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .carousel-item img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }
}
.home-hero-image-overlay {
  width: 100vw;
  height: 50vh;
  background: rgba(0, 191, 134, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  justify-content: center;
}
.home-hero-text {
  text-align: left;
  position: relative;
  left: 0px;
}
.home-hero-text h1 {
  color: black;
}
.home-author {
  font-size: 3rem;
}
.home-hero-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid white;
}
.home-carousel-wrapper {
  height: 300px;
  width: 100%;
  position: relative;
  top: -50px;
}
.home-carousel-wrapper .carousel {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}
@media (max-width: 1000px) {
  .home-carousel-wrapper .carousel {
    width: 100%;
    border-top: none;
  }
  .home-carousel-wrapper {
    top: 0px;
  }
}

.home-carousel-wrapper .carousel .carousel-caption {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
}
.home-carousel-wrapper .carousel .carousel-caption h5,
.home-carousel-wrapper .carousel .carousel-caption p {
  background: rgba(255, 255, 255, 0.604);
  padding: 10px;
}
.home {
  overflow: hidden;
  width: 100%;
  min-height: 90.5vh;
  background: rgb(81, 204, 167);
}
.home .active {
  background: rgb(0, 191, 134) !important;
  background-clip: padding-box !important;
}
