.home-hero-image {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
@media (max-width: 1100px) {
  .carousel-item img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }
}
.home-hero-image-overlay {
  width: 100vw;
  height: 50vh;
  background: rgba(0, 191, 134, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  justify-content: center;
}
.home-hero-text {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.home-hero-wrapper {
  position: relative;
  width: 100%;
  height: 50vh;
}
.home-carousel-wrapper {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home-carousel-wrapper .carousel {
  width: 100%;
  height: 100%;
}
.home {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.home .active {
  background: rgb(0, 191, 134) !important;
  background-clip: padding-box !important;
}
